/* 기본 스타일 수정 */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
} 
ol, 
ul {
    margin: 0;
    padding: 0;
}

button {
    background-color: #00000000;
    border: none;
}

a {
    text-decoration: none;
    color:black;
}

a:hover {
    color: black;
}

.content-design {
    position: fixed;
    top:0;
    width: 100%;
    height: 90px;
    background-color: white;
    z-index: 5;
    margin:0 !important;
    padding: 0 5% 0 5%; 
}

.content-design h2{ 
    font-size: 22px;
    font-weight: 600;
}

.content-design div:first-child, 
.content-design div:last-child {
    display: inline-block !important; 
}

.content-design div:nth-child(2) {
    flex-grow: 2;
    text-align: center;
}

.content-design div:last-child {
    position: relative;
    right: 0;
}

.content-design a {
    display: block !important;
    width: 120px;
    height: 40px;
    font-size: 17px;
    color: white;
    background-color: #005da6;
    text-align: center;
    line-height: 40px;  
}

.active { 
    display: block !important;
} 

.inactive {
    display: none !important;
}


/* 화면 전체 사이즈 조정 */
#body-wrap {
    width: 100%;
    min-width: 320px; 
}

.center {
    padding: 0 5%;  
    margin:0 auto;
}

/* 헤더 스타일 */
#header-wrap {
    width: 100%; 
    max-width: 1600px;
    height: 54px;
    display: flex;
    align-items: center; 
    margin: 0 auto; 
    padding: 0;
    font-size: 13px;  
}

/* 메인 로고 스타일 */
#main-logo {
    display: inline-block;
    width: 137px; 
}

#main-logo a { 
    padding: 16px 6px 16px 10px;
    height: 100%;
}

#main-logo a img {
     width: 108px;
}  

/* 서페이스 스타일 */
#surface {
    display: inline-block;  
    margin-top: 1px;
    font-size: 18px; 
} 

#surface::before {
    content: " ";
    border-left: 2px solid #000;
    height: 24px;
    padding: 0 17px;
    position: relative; 
    left: 19px;
}

#surface a {
    padding: 16px 8px 16px 12px;
    font-weight: bold;
}

#surface button {
    display: none;
}

/* 컴퓨터들 ~ 지원 등 서브 메뉴 스타일 */
#sub-menu {
    display: inline-block;
    width: 100%; 
    min-width: 480px; 
    padding-left: 2px;
    padding-right: 1px;
    z-index: 2;
}

#sub-menu > ul > li > div > button:hover { 
    text-decoration: underline; 
}

#sub-menu > ul > button:hover { 
    text-decoration: underline; 
}

#sub-menu > ul > li:nth-child(1) {
    display: none;
}

#sub-menu button {
    padding: 17px 16px 16px 20px;
    margin-top: 1px;
}

#sub-menu > ul > li > a {
    padding: 17px 5px 16px 10px;
    margin-top: 1px;
}

#sub-menu > ul > li {
    display: inline-block;
}

.button-after::after {
    content: "\f078";  
    font-family: FontAwesome; 
    position: relative;
    left: 3px;
}

#sub-menu2,
#sub-menu3,
#sub-menu4 {
    position: relative;
}

#sub-menu2 > div,
#sub-menu3 > div,
#sub-menu4 > div {
    display: none;
    position: absolute;
    top:57px;
    left: 0;
    background-color: #f2f2f2;
    border: 1px solid #e6e6e6;
    border-bottom: 2px solid black;
    z-index: 1;
} 

#sub-menu3 > div > div  {
    background-color: #e6e6e6;
}

#sub-menu3 > div > div > a  {
    display: inline-block;   
    padding: 12px 0 12px 0;
    position: relative; 
    left: 50%; 
    transform: translateX(-50%); 
}

#sub-menu3 > div > div > a::after  {
    content: "\f054";
    font-family: FontAwesome;
    margin-left: 5px;
}

#sub-menu2 > div button,
#sub-menu3 > div button,
#sub-menu4 > div button { 
    font-weight: 600;
}

#sub-menu2 > div > ul,
#sub-menu3 > div > ul  { 
    display: flex;
}

#sub-menu2 > div > ul > li,
#sub-menu3 > div > ul > li { 
    width: 195px; 
}

#sub-menu4 > div > ul > li {
    width: 254px;
}
  
#sub-menu2 a,
#sub-menu3 a { 
    padding: 12px 0 12px 24px;
    display: block;
}

#sub-menu4 a { 
    padding: 18px 0 18px 24px;
    display: block;
}

#sub-menu2 a:hover,
#sub-menu3 a:hover,
#sub-menu4 a:hover {  
    text-decoration: underline;
}  

/* 마소 전체 ~ 로그인 스타일 */
#main-menu-wrap {
    display: flex;
    min-width: 406px; 
    position: relative; 
}

#main-menu:hover {
    cursor: pointer;
}
   
#main-menu > nav {
    display: none;
    max-width: 1230px;
    background-color: #f2f2f2;
    position: absolute;
    top: 53px;
    left: -910px;
    z-index: 1;
    border: 1px solid #e6e6e6;
    border-bottom: 0;
} 

#main-menu > nav > ul {
    display: flex;
    float: left;
    flex-wrap: wrap;
}  

#main-menu > nav > ul > li:first-child, 
#main-menu > nav > ul > li:last-child {
    width: 100%;
}

#main-menu > nav > ul > li:first-child {
    border-bottom: 2px solid #d3d3d3;
}

#main-menu > nav > ul > li:last-child {
    text-align: center;
    background-color: #e6e6e6;
    border-bottom: 2px solid black;
}

#main-menu > nav > ul > li:first-child > ul > li{
    float: left;
}

#main-menu > nav > ul > li:nth-child(2),
#main-menu > nav > ul > li:nth-child(3),
#main-menu > nav > ul > li:nth-child(4),
#main-menu > nav > ul > li:nth-child(5),
#main-menu > nav > ul > li:nth-child(6),
#main-menu > nav > ul > li:nth-child(7) {
    width: 195px;
    padding-bottom: 10px;
}

#main-menu > nav > ul > li button {
    padding: 12px 0 12px 24px;
    display: block;
    font-weight: 600;
}

#main-menu > nav > ul > li a {
    padding: 12px 0 12px 24px;
    display: block;
}

#main-menu > nav > ul > li a:hover {
    text-decoration: underline;
}

#main-menu > nav > ul > li:nth-child(1) a {
    padding: 12px 24px 12px 24px;
    display: block;
}

#main-menu { 
    padding: 17px 16px 16px 20px;
}

#search-wrap { 
    font-size: 14px;
    padding: 17px 16px 16px 20px;
}

#search-wrap input {
    display: none;
}

#search-wrap form button::after {
    content: "\f002";
    font-family: FontAwesome; 
}

#search-wrap #cancel-button {
    display: none;
}

#cart { 
    font-size: 14px;
    padding: 17px 16px 16px 20px;
}

#cart a::after {
    content: "\f07a";
    font-family: FontAwesome; 
}

#sign-in { 
    font-size: 14px;
    padding: 17px 16px 16px 20px;
}

#sign-in a::after {
    content: "\f234";
    font-family: FontAwesome; 
}

/* 메인 컨텐츠 스타일 */
section {
    margin-top: 6px;
}

/* 메인 이미지 스타일 */
#main-image-wrap {
    width: 100%;
    height: 1080px;
    margin:0 auto;
    position: relative;
}

#main-image {
    width: 100%;
    height: 100%;
    background-image: url(../images/main/main_1920x1080.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* 메인 이미지 설명 부분 */
#main-img-content-wrap {
    width: 80%;
    height: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

#main-img-content {
    position: relative;
    top: 50%; 
    transform: translateY(-50%);
}

#main-img-content strong {
    background-color: #ffd800;
}

#main-img-content h2 {
    font-size: 34px;
    font-weight: 600;
}

#main-img-content p {
    font-size: 24px;
}

/* 개요 기술사양 탭 부분 */
#content-wrap {
    margin-top:55px;
    margin-bottom:30px;
    display: flex; 
    align-items: center; 
}

#content-wrap div:first-child,
#content-wrap div:last-child {
    display: none;
}

#content-wrap div:nth-child(2) {
    flex-grow: 2;
    text-align: center;
}

#content {
    font-size: 16px; 
    
}

#content li {
    display: inline-block;
    padding: 0 15px 0 15px;
}

#content li a {
    padding: 20px 5px 5px 5px;
}

/* 개요 탭의 제품 정보 슬라이드 */
#splide-wrap {
    width: 85%;
    margin:0 auto;
    margin-top:30px;
    padding-top:40px;
    margin-bottom:30px;
}
.splide { 
    width: 100%;
    height: 451px;  
    margin-bottom: 10px;
}
 
.splide__track {
    width: 100%;
    height: 451px;
} 

.slide {
    width: 100%;
    text-align: center;
    padding: 0 95px 50px 95px;
}

.slide blockquote {
    font-size: 34px;
    margin-bottom: 50px;
}

.slide > div {
    font-size: 20px;
    font-weight: 600;
    opacity: .95;
    margin-bottom: 28px;
}

.splide__pagination__page {
    border: 1px solid black;
    background-color: white;
}
.splide__pagination__page.is-active {
    background-color: black;
}

#sub-image-wrap {
    max-width: 1600px;
    box-sizing: content-box;
}

/* 섹션 설명 부분 가운데 정렬  */
.guide {
    text-align: center;
    max-width: 1600px;
    padding: 70px 5% 50px 5%;
}

.guide h2 {
    font-weight: 600;
}
 

/* 제품 소개 부분 */
#product-info {
    margin-bottom: 50px;
}

#product-info .container {
    margin-top:50px;
    max-width: 1600px; 
}

#product-info .row {
    justify-content: space-between;
}

#product-info .col-md-3 { 
    width: 23%; 
    max-width: 374px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    padding: 40px 3% 52px; 
}
 
#product-info .col-md-3 img { 
    margin-bottom: 30px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#product-info .col-md-3 h2 { 
    font-weight: 600;
}

#product-info #product-info-check {
    display: inline-block;
    position: relative;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

#product-info #product-info-check a {
    font-weight: 600;
    color: #005da6;
}

#product-info #product-info-check a::after {
    content: "\f054";
    font-family: FontAwesome;
    margin-left: 5px;
}
 

#design-info {
    margin-top:50px;
}

#design-info .container {
    max-width: 1600px;
}

#design-info .row {
    justify-content: space-between;
}

.design-content img {
    width: 100%;
}

.design-content h3 {
    margin-top: 35px;
    font-size: 20px;
    font-weight: 600;
}

/* 가로 스크롤 하며 이미지 확인하는 부분 (가로 스크롤은 안됨) */
#scroll-image {
    margin-top:150px;
}

#spin-container {
    width: 100%;
    height: 500px;
    overflow: hidden;
    margin:0 auto;
} 

#spin-container > div:first-child {
    width: 100%;
    height: 100%;
    background-image: url(../images/main/scroll\ image.jpg);
    background-repeat: no-repeat;
    background-position: center; 
}

#spin-wrapper {
    text-align: center;
}

#slider {
    width: 28%;
    height: 5px;
    background-color: black;
    display: inline-block;
    margin:0 auto;
}

/* 혜택 안내 부분 */
#benefits-info {
    margin-top:50px;
}

#benefits-info .container {
    max-width: 1600px;
}

#benefits-info .row {
    justify-content: space-between;
}

.benefits-content:hover {
    cursor: pointer;
}

.benefits-content img {
    width: 100%;
}

.benefits-content h3 {
    margin-top: 35px;
    font-size: 20px;
    font-weight: 600;
}

.benefits-content li {
    list-style: inside;
    margin:10px 0;
    font-size: 14px;
}

.benefits-content > a {
    margin-top: 10px;
    color:#0067b8;
    font-weight: 600; 
}

.benefits-content > a::after {
    content: "\f054";
    font-family: FontAwesome;
    margin-left: 5px;
}

/* 마크~어보드 스파크 프로그램 안내 부분 */
#program-info {
    display: inline-block;
    margin: 0 auto;
}

#program-info img{
    width: 100%;
}
 
#flipgrid,
#netflix,
#adobe-spark {
    display: none;
}

#logo-wrap {
    display: flex;
    justify-content: center;
}

#logo-wrap > div {
    height: 120px;
    width: 120px; 
    cursor: pointer;
}
 
#m-logo {
    background-image: url(../images/main/minecraft\ logo.jpg); 
    background-position: 50% 100%;  
}
#f-logo {
    background-image: url(../images/main/flipgrid\ logo.jpg); 
    background-position: 50% 0%;  
}
#n-logo {
    background-image: url(../images/main/netflix\ logo.jpg); 
    background-position: 50% 0%;  
}
#a-logo {
    background-image: url(../images/main/adobe\ spark\ logo.jpg); 
    background-position: 50% 0%;  
}

/* 영상 시청 부분 */
#video-info li button {
    font-size: 20px;
    font-weight: 600;
    text-align: left;
}

#video-info li button::after {
    content: "\f054";
    font-family: FontAwesome;
    margin-left: 5px;
}

#video-info-content > ul > li {
    padding: 12px 0 12px 0;
}

#video-info li p {
    display: none;
    padding-top:10px;
}

#video-info li:first-child p {
    display: block;
}

#video-info img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}
 

#fit-laptop-info {
    margin-top:50px;
}

#fit-laptop-info .container {
    max-width: 1600px;
}

#fit-laptop-info .row {
    justify-content: space-between;
} 

.fit-laptop-content h3 { 
    font-size: 20px;
    font-weight: 600;
}

.fit-laptop-content li {
    list-style: inside;
    margin:10px 0;
    font-size: 14px;
}

/* 기술 사양 탭 */
#tech-info {
    margin-top:50px;
}

#tech-info .container {
    max-width: 1600px;
}

#tech-info .row {
    justify-content: space-between;
} 

#tech-info img { 
    width: 100%;
} 

#tech-info h3 { 
    margin-top:40px;
    font-size: 20px;
    font-weight: 600;
}

#tech-info li {
    list-style: inside;
    margin:10px 0;
    font-size: 14px;
}

/* 기술 사양 상세 설명 부분 */
#tech-spec-info {
    max-width: 1600px;
    padding: 0 5%;
    margin: 0 auto;
    box-sizing: content-box;
    margin-top:50px;
}

#tech-spec-info h2 { 
    font-size: 24px;
    font-weight: 600;
}

#tech-spec-info table {
    margin-left: 3em;
    margin-bottom : 50px;
}

#tech-spec-info th,
#tech-spec-info td {
    padding-top:10px;
    border-bottom: 1px solid #dbdbdb;
}

#tech-spec-info th p,
#tech-spec-info td p {
    margin-bottom: 10px;
}

/* 노트북 관련 액세서리 부분 */
#accessory-info {
    margin-top: 50px;
}

#accessory-info .container {
    max-width: 1600px;
}

#accessory-info .row {
    justify-content: space-between;
}

#accessory-content {
    position: relative;
    top:50%;
    transform: translateY(-50%); 
}

#accessory-content h2 {
    font-size: 34px;
    font-weight: 600;
}

#accessory-content a {
    font-size: 34px;
    font-weight: 600;
}

#accessory-content a {
    font-size:15px;
    font-weight: 600;
    color: #005da6;
}

#accessory-content a::after {
    content: "\f054";
    font-family: FontAwesome;
    margin-left: 5px;
}

#accessory-icon > div {
    margin-top:40px;
    display: flex;
    justify-content: center;
}

#accessory-icon > div a {
    position: relative;
    margin: 0 10px 0 10px;
    padding: 0 40px 0 40px; 
    font-weight: 600;
    color:#005da6;
}

#accessory-icon > div a:hover span { 
    text-decoration: underline;
}   


#accessory-icon > div a > span {
    font-size: 15px;
    width: 135px;
    text-align: center;
    position: absolute;
    top: 100%;
    left:50%;
    transform: translateX(-50%);
}

/* 마지막 상세 설명 */
#accessory-warning {
    max-width: 1600px;
    padding: 0 5%;
    margin: 0 auto;
    box-sizing: content-box;
    margin-top:50px;
}

#accessory-warning li {
    margin: 15px 0;
    font-size: 14px;
}

/* surface 팔로우 부분 */
#sns > div:first-child {
    max-width: 1600px;
    padding: 0 5%;
    margin: 0 auto;
    box-sizing: content-box;
    margin-top:50px;
}

#sns > div:first-child {
    display: flex;
} 

#sns > div:first-child li { 
    float: left;
    margin:0 10px;
}

/* 페이지 공유 부분 */
#sns > div:last-child {
    max-width: 1600px;
    padding: 0 5%;
    margin: 0 auto;
    box-sizing: content-box;
    margin-top:50px;
}
 
#sns > div:last-child {
    display: flex;
} 

#sns > div:last-child li { 
    float: left;
    margin:0 10px;
}

#sns {
    margin-bottom:60px;
}

/* 푸터 스타일 */
footer {
    width: 100%;
background-color:#f2f2f2;
}

footer .container {
    max-width: 1600px;
}

footer .row {
    justify-content: space-between;
}

footer .col-sm-4 div {
    font-size:15px;
    font-weight: 600; 
    padding-top:20px;
}

footer .col-sm-4 ul li {
    font-size:11px;
    margin:10px 0;

}

.footer-nav {
    margin: 0 auto;
    max-width: 1600px; 
}

.footer-nav > a {
    float: left;
}

.footer-nav > nav {
    display: flex;
    position: relative;
    right: 0; 
}

.footer-nav > nav li {
    float: left;
}
 
@media screen and (max-width:1774px) {
    #header-wrap {
        padding: 0 5%;
    }
}

@media screen and (max-width:1500px) {
    #main-menu > nav {
        left: -775px;
    }
}

@media screen and (max-width:1400px) {
    #main-menu-wrap {
        justify-content: flex-end
    }

    #search-wrap form span {
        display: none;
    }

    #cart span {
        display: none;
    }

    #sign-in span {
        display: none;
    }
}

@media screen and (min-width:540px) and (max-width:1279px) {
  
    #product-info .col-md-3 {
        width: 45%;  
        max-width: 374px; 
        padding: 40px 4.5% 52px; 
        margin: 45px 2.5% 0;
    }

    #main-menu > nav {
        max-width: 1025px;
        left: -710px;
    }

    #video-info {
        margin-bottom:50px;
    }
    
    #product-info .row {
        justify-content: center;
    }
    
    #product-info .col-md-3:nth-child(even) {
        margin-right: 0;
    }  
    #product-info .col-md-3:nth-child(odd) {
        margin-left: 0;
    } 
}

@media screen and (max-width:1080px) {
    .center {
        padding: 0 2% !important;
    }
 
    #main-image-wrap {
        height: 900px;
    }

    #product-info-check {
        margin-bottom:30px;
    }

    #sub-image-wrap {
        padding:0 !important;
    }

    #scroll-image {
        margin-top: 100px;
    }
    
    #spin-container {
        height: 350px;
    }

    #tech-info .container > .row > .col-md-6 {
        width: 100%;
    }

    #tech-spec-info table {
        margin-left: 0;
    }

    #accessory-content h2 {
        font-size: 20px;
    }

    #video-info .col-md-4 {
        order:2;
        width: 80%;
        margin:0 auto;
    }

    #video-info .col-md-8 {
        order:1;
        width: 100%;
        
    }

    #video-info .container {
        padding:0;
        max-width: 1080px;
    }
}

@media screen and (max-width:1110px) {
    #main-menu > nav {
        max-width: 800px;
        left: -615px;
    }
}

@media screen and (max-width:859px) {
    #header-wrap {
        display: block;
        height: 49px;
        border-bottom: 1px solid #e6e6e6;
        margin-bottom:34px;
        padding:0 !important;
    }
    
    #main-logo {
        position: relative;
        top:10px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
    }

    #surface {
        position: absolute;
        top: 52px;
        left: 15px;
        font-size: 15px;
    }

    #surface::before {
        display: none;
    }

    #surface::after {
        content: "\f078";
        font-family: FontAwesome;
        position: relative;
        left: 3px;
    }

    #surface button {
        display: inline-block;
        font-weight: 600;
    }

    #surface a {
        display: none;
    }

    #main-menu-wrap {
        width: 100%;
        position: absolute;
        top: 0;
        justify-self: flex-start;
    }
    
    #main-menu-wrap div:nth-child(1),
    #main-menu-wrap div:nth-child(3),
    #main-menu-wrap div:nth-child(4) { 
        padding: 11px 0 0 0;
        flex-grow: 1;
    }

    #main-menu-wrap div:nth-child(2) { 
        padding: 11px 0 0 0;
        flex-grow: 20;
    } 

    #main-menu {
        margin-left: 10px;
        z-index: 3;
    } 

    #main-menu::after {
        content: "\f0c9";
        font-size: 20px;
        font-family: FontAwesome;
        position: relative;
        left: 3px;
        cursor: pointer;
    } 

    #main-menu > nav {
        position: absolute;
        top: 83px;
        left: 0;
        width: 100%;
    }

    #main-menu > nav > ul {
        width: 100%;
        display: block;
    }

    #main-menu > nav > ul > li {
        width: 100% !important;
        display: block;
        border-bottom: 1px solid #d2d2d2;
        padding:0 !important;
    }

    #main-menu > nav > ul > li a:hover {
        text-decoration: none;
    }

    #main-menu > nav > ul > li button {
        font-weight: 400;
        width: 100%;
        text-align: left;
    }

    #main-menu > nav > ul > li button::after {
        content: "\f078";
        font-family: FontAwesome;
        position: absolute;
        left: 95%;
    }

    #main-menu > nav > ul > li:first-child > ul > li {
        display: block;
        float: inherit;
        border-bottom: 1px solid #d2d2d2;
    }

    #main-menu > nav > ul > li > ul {
        display: none;
        margin-left: 30px;
    }

    #main-menu > nav > ul > li:first-child > ul { 
        margin-left: 0;
    }

    #main-menu > nav > ul > li > ul > li {
        border-bottom: 1px solid #d2d2d2;
    }

    #main-menu > nav > ul > li:first-child > ul {
        display: block;
    }

    #main-menu > nav > ul > li:last-child {
        text-align: left;
        background-color: #f2f2f2;
    }

    #search-wrap form button::after {
        font-size: 20px;
    }

    #main-menu > span,
    #main-menu > button {
        display: none;
    }

    #cart a::after {
        font-size: 20px;
    } 
    
    #sign-in a::after {
        font-size: 20px;
    } 

    #sub-menu {
        position: absolute;
        display: none;
        top:83px;
        left: 0;
        padding: 0;
        width: 100%;
    }

    #sub-menu > ul {
        background-color: #f2f2f2;
    }

    #sub-menu > ul > li {
        display: block;
        border-bottom: 1px solid #d2d2d2;
    }

    #sub-menu > ul > li:last-child {
        display: block;
        border-bottom: 2px solid black;
    }

    #sub-menu > ul > li:nth-child(1) {
        display: block;
    }
    
    #sub-menu button {
        width: 100%;
        text-align: left;
    }

    .button-after::after { 
        position: absolute;
        left: 95%; 
    } 

    #sub-menu > ul > li > div > button:hover,
    #sub-menu2 a:hover,
    #sub-menu3 a:hover,
    #sub-menu4 a:hover { 
        text-decoration: none; 
    }  
    
    #sub-menu button,
    #sub-menu > ul > li > a {
        margin: 0;
        padding: 12px 8px 13px 15px; 
        display: block; 
    }   

    #sub-menu2 > div button,
    #sub-menu3 > div button,
    #sub-menu4 > div button { 
        font-weight: 400;
    }
   
    #sub-menu2 > div,
    #sub-menu3 > div,
    #sub-menu4 > div { 
        position: static;
        border: 0;
        margin-left: 30px;
    }

    #sub-menu2 > div > ul,
    #sub-menu3 > div > ul,
    #sub-menu4 > div > ul {
        display: block;
    }

    #sub-menu2 > div > ul > li,
    #sub-menu3 > div > ul > li,
    #sub-menu4 > div > ul > li {
        width: 100%; 
        border-bottom: 1px solid #d2d2d2;
    } 

    #sub-menu2 > div > ul > li > ul,
    #sub-menu3 > div > ul > li > ul, 
    #sub-menu4 > div > ul > li > ul {
        width: 100%; 
        display: none;
        margin: 1px 0 0 30px;
    }

    #sub-menu3 > div > div {
        background-color: #f2f2f2;
    }
    
    #sub-menu3 > div > div > a {
        padding: 12px 8px 13px 15px;
        display: block;
    }

    #sub-menu3 > div > div > a::after {
        display: none;
    } 

    #sub-menu2 > div > ul > li > ul > li,
    #sub-menu3 > div > ul > li > ul > li, 
    #sub-menu4 > div > ul > li > ul > li { 
        border-bottom: 1px solid #d2d2d2;
    }
  
    #sub-menu2 button,
    #sub-menu3 button,
    #sub-menu4 button  {
        border-bottom: 1px solid #d2d2d2;
    } 

    #sub-menu2 button::after,
    #sub-menu3 button::after,
    #sub-menu4 button::after  {
        content: "\f078";
        font-family: FontAwesome;
        position: absolute;
        left: 95%;
    }

    #spin-container {
        height: 250px;
    }
     
}

@media screen and (max-width:764px) {
    .design-content h3 {
        margin-top: 10px; 
        font-size: 18px;
    }

    .design-content p {
        margin-bottom: 2rem; 
    }  

    .benefits-content {
        margin-bottom:50px;
    }

    .benefits-content h3 {
        margin-top: 10px;
        font-size:18px;
    }

    .benefits-content > a {
        font-size: 14px; 
    } 
    .guide {
        margin-top:20px;
        } 

    .guide h2,
    .guide p  {
        padding-right: var(--bs-gutter-x, 2rem);
        padding-left: var(--bs-gutter-x, 2rem);
    }

    #accessory-content {
        text-align: center;
    }

    #accessory-icon > div {
        flex-direction: column;
    }
    
    #accessory-icon > div a {
        padding: 0 40px 10px 10px;
    }

    #accessory-icon > div a > span { 
        position: relative;
        left: 10px;
    }

    #main-image-wrap {
        padding-bottom: 130px;
        z-index: 1;
    }

    #main-img-content {
        text-align: center;
        position: relative;
        top: 108%;
    }

    #main-img-content strong { 
        font-size: 14px;
    }

    #main-img-content h2 { 
        font-size: 18px;
    }

    #main-img-content p {
        font-size: 17px; 
    }

    #splide-wrap {
        width: 100%;
    }

    .slide blockquote {
        font-size: 18px; 
        margin-bottom: 20px;
    }

    .slide > div {
        font-size: 13px;
        margin-bottom: 0;
    }

    .splide {
        height: 315px;
    }

    #accessory-info .col-md-6:first-child {
        order:2;
        width: 70%;
        margin:0 auto;
        margin-top:20px;
    }
 
}
   
@media screen and (max-width:539px) { 

    #product-info .col-md-3 {
        padding: 18px 8.4% 52px;
        width: 100%;
        max-width: 450px;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
    } 

    #tech-info h3{
        margin-top: 10px;
    }

    #tech-info .container > .row > .col-md-6 > .row > div {
        margin-bottom:40px;
    }
      
    #tech-spec-info {
        padding: 0 2%;
    }

    #tech-spec-info table tr {
        display: flex;
        flex-direction: column;
    }
    #tech-spec-info table th {
        border-bottom: 0;
    }

    #main-img-content { 
        top: 110%;
    }

    #video-info .col-md-4 {
        width: 100%; 
        margin-left: 10px;
    }

    #accessory-info .col-md-6:first-child { 
        width: 100%; 
    }

    .content-design h2 {
        font-size: 16px
    }

    .content-design a {
        width: 100px;
    }
}